@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url("./styles/fonts/GmarketSansTTFBold.ttf") format('truetype');
}
@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url("./styles/fonts/GmarketSansTTFLight.ttf") format('truetype');
}
@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url("./styles/fonts/GmarketSansTTFMedium.ttf") format('truetype');
}


*{

    /* color: #0b53e4; */
}